# Dependencies
npm-debug.log
yarn-error.log

# Client build
/client/build/
/client/dist/
/client/node_modules/

# Server build
/server/dist/
/server/build/
/server/node_modules/

# Environment variables
/client/.env
/client/.env.local

/server/.env
/server/.env.local

# IDE and editors
.idea/
.vscode/
*.swp
.DS_Store

# Logs
logs/
*.log

# Testing
/coverage/

# Misc
Thumbs.db
temp/